<p class="u-spacer--tiny">{{info.label}} <br>
  <strong>{{info.plainValue}}</strong>
</p>

{{#wu-button-group}}
  {{wu-button label="ja" size="small" isNarrow=true command="ctrl + j" commandLocation="below" onClick=(action "insert")}}
  {{wu-button label="neen" size="tiny" isLink=true isDark=true isNarrow=true command="esc" commandLocation="below" onClick=(action "remove")}}
{{/wu-button-group}}

{{yield}}
